.cart-image {
  max-width: 100px;
}

.cart-image img {
  max-width: 100%;
  height: auto;
}

.cart-info {
  margin-bottom: 0.5rem;
}

.card-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
}