.cart-image {
  max-width: 100px;
}

.cart-image img {
  max-width: 100%;
  height: auto;
}

.image-column {
  display: flex;
  justify-content: center;
}

.cart-info {
  margin-bottom: 0.5rem;
}

.card-body {
  justify-content: space-around;
  align-items: center;
}
